body{
    font-family: "Petit Formal Script", cursive;
    background:#d88fac;
    text-align:center;
    padding:20px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 40px auto;
    gap: 25px;
    justify-items: center;
}
.polaroid{
    width:220px;
    background:white;
    padding:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    transition:.3s;
}

.polaroid:hover{
    transform:scale(1.05) rotate(2deg);
}

.polaroid img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.polaroid p{
    margin-top:10px;
    font-family:"Petit Formal Script", cursive;
    font-size:18px;
}
