body{
    font-family: "Petit Formal Script", cursive;
    background:#d88fac;
    text-align:center;
    padding:20px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 40px auto;
    gap: 25px;
    justify-items: center;
}
.polaroid{
    width:220px;
    background:white;
    padding:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    transition:.3s;
}

.polaroid:hover{
    transform:scale(1.05) rotate(2deg);
}

.polaroid img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.polaroid p{
    margin-top:10px;
    font-family:"Petit Formal Script", cursive;
    font-size:18px;
}
button{
    background: linear-gradient(
        135deg,
        #ffd6e8,
        #c8f7c5
    );

    color:#444;
    border:none;
    padding:12px 20px;
    border-radius:25px;

    font-family:"Petit Formal Script", cursive;
    font-size:16px;

    cursor:pointer;

    box-shadow:
    0 4px 12px rgba(0,0,0,.15);

    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:
    0 8px 18px rgba(0,0,0,.2);
}
.sticker{
    position:fixed;
    font-size:2rem;
    pointer-events:none;
    animation:float 4s ease-in-out infinite;
}

.heart1{
    top:10%;
    left:5%;
}

.heart2{
    top:45%;
    right:8%;
}

.star1{
    top:20%;
    right:10%;
}

.star2{
    bottom:15%;
    left:8%;
}

.ribbon{
    top:55%;
    right:4%;
}

.sparkle{
    top:35%;
    left:2%;
}

@keyframes float{
    0%,100%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-15px);
    }
}
body{
    background:
    linear-gradient(
        135deg,
        #80c86a,
        #eb9abc
    );

    min-height:100vh;
}